.u-section-1 .u-sheet-1 {
  min-height: auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-family: TheanoDidot-Regular1;
  margin: 0 129px 0 152px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: auto;
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px !important;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 837px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 134px;
    margin-bottom: 56px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 29px;
    margin-left: 52px;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: auto;
    --radius: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-bottom: 49px;
    --radius: 0px;
    --top-left-radius: 0px;
    --top-right-radius: 20px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
    --radius: 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: auto;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
    --top-left-radius: 0px;
    --top-right-radius: 0px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 30px !important;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 22px;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    --top-left-radius: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
    --top-left-radius: 20px;
    --top-right-radius: 20px;
    --radius: 0px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: auto;
    --radius: 0px;
    --bottom-right-radius: 20px;
    --bottom-left-radius: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 20px 30px 70px 30px !important;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    text-align: left;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px !important;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* page-custom-fonts */
@font-face {
  font-family: 'TheanoDidot-Regular1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TheanoDidot-Regular1.ttf);
}

/* Mobile Menu Separators */
.u-offcanvas .u-sidenav .u-nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Fix header height glitch */
#sec-6772,
#sec-6772 .u-sheet {
  height: auto !important;
  min-height: auto !important;
}