.u-section-1 .u-sheet-1 {
  min-height: 3103px;
}

.u-section-1 .u-text-1 {
  font-family: TheanoDidot-Regular1;
  margin: 94px auto 0;
}

.u-section-1 .u-text-2 {
  width: 712px;
  margin: 10px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 1461px;
}

.u-section-1 .u-list-item-1 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-4 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-2 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-6 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-3 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-8 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-4 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-10 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-5 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-12 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-6 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-14 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-7 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-16 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-8 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-18 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-9 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-20 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-10 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 0;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-22 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-11 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-24 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-item-12 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 0;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-26 {
  margin: -26px 45px 0 139px;
}

.u-section-1 .u-list-2 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-2 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 1228px;
}

.u-section-1 .u-list-item-13 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 0;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-28 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-14 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 0;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-30 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-15 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 0;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-32 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-16 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 0;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-34 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-17 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 0;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-36 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-18 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 0;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-38 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-19 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 0;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-40 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-20 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px 0;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-42 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-21 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px 0;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-44 {
  margin: -23px 45px 0 139px;
}

.u-section-1 .u-list-item-22 {
  --radius: 20px;
}

.u-section-1 .u-container-layout-22 {
  padding: 10px 0;
}

.u-section-1 .u-text-45 {
  font-weight: 400;
  font-family: TheanoDidot-Regular1;
  font-size: 3rem;
  margin: 32px 426px 0 60px;
}

.u-section-1 .u-text-46 {
  margin: -23px 45px 0 139px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2944px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1355px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 12px 30px 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 12px 30px 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 12px 30px 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-9 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 12px 30px 0;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-11 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-container-layout-12 {
    padding: 12px 30px 25px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin: 0 0 -9px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 1013px;
  }

  .u-section-1 .u-container-layout-13 {
    padding: 30px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding: 30px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding: 30px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-16 {
    padding: 30px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-17 {
    padding: 30px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-18 {
    padding: 30px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-19 {
    padding: 30px;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-20 {
    padding: 30px;
  }

  .u-section-1 .u-text-41 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-21 {
    padding: 30px;
  }

  .u-section-1 .u-text-43 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-22 {
    padding: 30px;
  }

  .u-section-1 .u-text-45 {
    width: auto;
    margin-top: 0;
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-6 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-8 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-10 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-12 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-14 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-16 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-18 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-20 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-22 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-24 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-26 {
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-27 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4587px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-13 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-15 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-17 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-19 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-21 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-23 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-25 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 1984px;
  }

  .u-section-1 .u-text-27 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-39 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-41 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-45 {
    font-size: 2.6666666666666665rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5567px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 2900px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 33px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 6px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 2247px;
  }

  .u-section-1 .u-text-28 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-30 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-32 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-34 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-36 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-38 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-40 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-42 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-44 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-46 {
    margin-bottom: -2px;
  }
}
/* page-custom-fonts */
@font-face {
  font-family: 'TheanoDidot-Regular1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TheanoDidot-Regular1.ttf);
}
/* Mobile Menu Separators */
.u-offcanvas .u-sidenav .u-nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Fix header height glitch */
#sec-6772, #sec-6772 .u-sheet { height: auto !important; min-height: auto !important; }
